.icon-close {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  background-color: #BCC1CB;
  background-image: url("../images/icons/other/svg/close.svg");
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: 90%;
}

.icon-rouble {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
  width: 10px;
  height: 14px;
}

.icon-adress::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 24px;
  width: 18px;
  background-image: url("../images/icons/other/svg/marker-black-1.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-time::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 19px;
  width: 19px;
  background-image: url("../images/icons/other/svg/ic_clock.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-phone::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 24px;
  width: 15px;
  background-image: url("../images/icons/other/svg/tel-black-1.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-operator::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 25px;
  width: 20px;
  background-image: url("../images/icons/other/svg/ic_operator.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-email::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 13.5px;
  width: 19.5px;
  background-image: url("../images/icons/other/svg/ic_mail.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-arrow-filter {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #E8E8E8;
}

.icon-arrow-filter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/catalog/svg/ic_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-to-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 40px;
  background-color: #5A687E;
}

.icon-to-basket::after {
  display: none;
}

.icon-to-basket::before {
  content: "";
  display: block;
  width: 22px;
  height: 18px;
  margin-right: 5px;
  background-image: url("../images/icons/other/svg/basket-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: 2048px) {
  .icon-close {
    background-position: 38% 50%;
    background-size: 90%;
  }
}