.icon-close {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  background-color: #BCC1CB;
  background-image: url("../images/icons/other/svg/close.svg");
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: 90%;
}

.icon-rouble {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
  width: 10px;
  height: 14px;
}

.icon-adress::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 24px;
  width: 18px;
  background-image: url("../images/icons/other/svg/marker-black-1.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-time::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 19px;
  width: 19px;
  background-image: url("../images/icons/other/svg/ic_clock.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-phone::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 24px;
  width: 15px;
  background-image: url("../images/icons/other/svg/tel-black-1.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-operator::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 25px;
  width: 20px;
  background-image: url("../images/icons/other/svg/ic_operator.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-email::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 13.5px;
  width: 19.5px;
  background-image: url("../images/icons/other/svg/ic_mail.svg");
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 2048px) {
  .icon-close {
    background-position: 38% 50%;
    background-size: 90%;
  }
}