.contacts {
  padding-top: 34px; }
  .contacts .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .contacts .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .contacts__info {
    width: 50%; }
    @media (max-width: 767px) {
      .contacts__info {
        width: 100%; } }
  .contacts__video {
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 23.8%;
    width: 46.5%;
    height: 0; }
    .contacts__video iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    @media (max-width: 767px) {
      .contacts__video {
        padding-bottom: 56.25%;
        width: 100%; } }
  .contacts__map {
    margin-top: 20px;
    width: 100%;
    height: 430px; }
  .contacts__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "PF Handbook Pro", "Open Sans", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 0.8;
    color: #333; }

.contacts-list {
  list-style: none;
  padding-left: 0; }
  .contacts-list__item {
    position: relative; }
    .contacts-list__item:not(:last-child) {
      margin-bottom: 8px; }
  .contacts-list__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-decoration: none; }
    .contacts-list__link span {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.3;
      text-transform: uppercase;
      color: #68ac02; }
    .contacts-list__link svg {
      margin-right: 8px;
      width: 26px;
      height: 31px;
      fill: #68ac02; }
  .contacts-list__adress {
    margin: 0;
    padding-left: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.42;
    color: #333; }
  .contacts-list__schedule {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 5px; }
    .contacts-list__schedule li {
      padding-left: 5px;
      font-weight: 600;
      line-height: 1.2; }
      .contacts-list__schedule li::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        width: 7px;
        height: 7px;
        background-color: #333; }
  .contacts-list__schedule-title {
    padding-left: 5px;
    font-weight: 700;
    line-height: 1.7;
    text-decoration: underline; }
  .contacts-list__description {
    padding-left: 5px;
    line-height: 1.3; }

.contacts-page {
  padding-bottom: 62px; }
  .contacts-page__social {
    list-style: none;
    margin-top: 25px;
    padding: 0;
    padding-bottom: 24px;
    -webkit-box-shadow: 0 -9px 0 #fff, 0 1px 9px rgba(51, 51, 51, 0.2);
       -moz-box-shadow: 0 -9px 0 #fff, 0 1px 9px rgba(51, 51, 51, 0.2);
            box-shadow: 0 -9px 0 #fff, 0 1px 9px rgba(51, 51, 51, 0.2); }
    .contacts-page__social li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 1rem; }
      .contacts-page__social li a {
        position: relative;
        display: inline-block;
        text-decoration: none; }
        .contacts-page__social li a::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #68ac02;
          -webkit-transition: width 0.3s;
          -o-transition: width 0.3s;
          -moz-transition: width 0.3s;
          transition: width 0.3s; }
        @media (min-width: 1025px) {
          .contacts-page__social li a:hover::after, .contacts-page__social li a:focus::after {
            width: 0;
            -webkit-transition: width 0.3s;
            -o-transition: width 0.3s;
            -moz-transition: width 0.3s;
            transition: width 0.3s; } }
    .contacts-page__social svg {
      margin-right: 13px;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      width: 32px;
      height: 32px; }
      .contacts-page__social svg.inst-ic {
        background-image: -webkit-radial-gradient(-6px 20px, farthest-corner, #fed576 0%, #f47133 26.34%, #bc3081 60.91%, #b424a6 100%);
        background-image: -moz-radial-gradient(-6px 20px, farthest-corner, #fed576 0%, #f47133 26.34%, #bc3081 60.91%, #b424a6 100%);
        background-image: -o-radial-gradient(-6px 20px, farthest-corner, #fed576 0%, #f47133 26.34%, #bc3081 60.91%, #b424a6 100%);
        background-image: radial-gradient(farthest-corner at -6px 20px, #fed576 0%, #f47133 26.34%, #bc3081 60.91%, #b424a6 100%); }

.contacts-page-map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px; }
  .contacts-page-map__info {
    padding-top: 15px;
    width: 540px; }
    .contacts-page-map__info .contacts-list__adress {
      margin-bottom: 15px;
      line-height: 1.3; }
  .contacts-page-map__box {
    padding-top: 30px;
    width: 585px;
    height: 320px; }

/*# sourceMappingURL=contacts.css.map */
